@model IEnumerable<SNP.Application.Installment.InstallmentDto>



@{
    var groupedItems = Model.GroupBy(x => x.User);
}

<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    <p>Ilość rat</p>
                </th>
                <th>
                    <p>Suma rat</p>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Model.Count()
                </td>
                <td>
                    @Model.Sum(x=>x.Ammount) zł
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="accordion" id="accordionExample">
    @foreach (var group in groupedItems)
    {
        var groupId = "collaspe" + group.Key.Replace(" ", "");
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#@groupId" aria-expanded="false" aria-controls="collapseOne">
                    @group.Key
                </button>
            </h2>
            <div id="@groupId" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    Data raty
                                </th>
                                <th>
                                    Kwota
                                </th>
                                <th>
                                    Sygnatura
                                </th>
                                <th>
                                    Prowadzący
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in group)
                            {
                                <tr>
                                    <td>
                                        @item.Date
                                    </td>
                                    <td>
                                        @item.Ammount zł
                                    </td>
                                    <td>
                                        @item.Signature
                                    </td>
                                    <td>
                                        @item.User
                                    </td>
                                </tr>

                            }
                        </tbody>
                    </table>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    Ilość umówionych rat
                                </th>
                                <th>
                                    Suma należności
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    @group.Count()
                                </td>
                                <td>
                                    @group.Sum(x=>x.Ammount) zł
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }
</div>

